/uva_10282.class
/uva_10611.class
/uva_10878.class
/uva_11413.class
/uva_11942.class
/uva_12015.class
/uva_12503.class
/uva_170.class
/uva_336.class
/uva_514.class
/uva_594.class
/uva_628.class
/uva_639.class
/uva_924.class
/uva_925.class
/uva_925b.class
/uva_10465.class
/uva_787.class
/testet.class
/Main.class
testet.java
hs_err_pid13276.log
.vscode/launch.json
.project
.classpath
